<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }} | {{ site.name[page.language] }}</title>
  <meta name="description" content="{{ site.description[page.language] }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css">

  {% if page.language == "ar" %}
    <link rel="stylesheet" href="{{base}}/assets/styles/main-rtl.css">
  {% endif %}
</head>