/**
 * Base
 */

body {
  @include primary-font;

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: all $transition-default;

  &:hover,
  &:focus {
    color: $color-navlink;
  }
}

img,
svg {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

hr {
  border: 1px solid $color-navlink;

  @include margin(2em null 0);
}

.container {
  @include grid-container;

  margin: 0 auto;
  max-width: $container-width;
  padding: 0 15px;
  width: 100%;
}
