/**
 * Buttons
 */

.button {
  background: transparent;
  border: 2px solid $white;
  color: $white;
  display: block;
  font-size: rem-calc(15);
  letter-spacing: 1px;
  margin: 0;
  max-width: rem-calc(295);
  outline: 0;
  padding: rem-calc(18 15);
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 100%;
  z-index: 0;

  &::after {
    background: $white;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 0%;
    z-index: -1;
  }

  @include secondary-font;

  &:hover,
  &:focus {
    background: transparent;
    color: $blue;

    &::after {
      width: 100%;
    }
  }
}

.button--brown {
  border-color: $dark-brown;
  color: $dark-brown;

  &::after {
    background: $dark-brown;
  }

  &:hover,
  &:focus {
    color: $white;
  }
}

.button--disabled {
  background: $tan;
  border-color: $tan;
  cursor: default;

  &:hover,
  &:focus {
    background: $tan;
    color: $white;

    &::after {
      width: 0;
    }
  }
}

.button--underline {
  border: 0;
  border-bottom: 2px solid;
  color: inherit;
  display: inline-block;
  letter-spacing: 0;
  padding: rem-calc(8 6);
  text-transform: none;
  width: auto;

  &::after {
    display: none;
  }

  svg {
    margin-left: rem-calc(3);
    width: rem-calc(12);
  }
}

.button.small-centered {
  margin-left: auto;
  margin-right: auto;
}
