@font-face {
  font-family: 'Handelson';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-directory}/handelson-two.eot');
  src:
    url('#{$font-directory}/handelson-two.eot?#iefix') format('embedded-opentype'),
    url('#{$font-directory}/handelson-two.woff2') format('woff2'),
    url('#{$font-directory}/handelson-two.woff') format('woff'),
    url('#{$font-directory}/handelson-two.ttf') format('truetype'),
    url('#{$font-directory}/handelson-two.svg#handelsontwo') format('svg');
}

@font-face {
  font-family: 'Futura Rounded Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-directory}/FuturaRdBold.eot');
  src:
    url('#{$font-directory}/FuturaRdBold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-directory}/FuturaRdBold.woff') format('woff'),
    url('#{$font-directory}/FuturaRdBold.ttf') format('truetype'),
    url('#{$font-directory}/FuturaRdBold.svg#FuturaRound-Bold') format('svg');
}
