/**
 * Fonts
 */

@mixin primary-font() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin primary-font-semibold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@mixin primary-font-bold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@mixin secondary-font-light() {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

@mixin secondary-font() {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

@mixin secondary-font-bold() {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

body {
  font-size: $base-font-size;
  line-height: modular-scale(1, $base-font-size, $golden);
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: modular-scale(1.5, $base-font-size, $golden);
  line-height: modular-scale(1, $base-font-size, $minor-second);

  @include margin(0 null modular-scale(1, .5em));

  @include grid-media($xs) {
    font-size: modular-scale(2.5, $base-font-size, $golden);
  }

  @include grid-media($sm) {
    font-size: modular-scale(4, $base-font-size, $golden);

    @include margin(0 null modular-scale(1, .35em));
  }
}

h2 {
  font-size: modular-scale(2.5, $base-font-size, $golden);

  @include grid-media($md) {
    font-size: modular-scale(3.5, $base-font-size, $golden);
  }
}
