/**
 * Forms
 */

.form-success {
  display: none;

  p {
    margin: 0;

    + p {
      margin-top: rem-calc(10);
    }
  }
}

form {
  &.success {
    display: none;

    + .form-success {
      display: block;
    }
  }
}

.input {
  margin-bottom: rem-calc(55);
  position: relative;
  text-align: left;

  &--centered {
    text-align: center;
  }

  &--small {
    margin-bottom: rem-calc(30);
  }

  .error {
    color: $error-color;
    font-size: rem-calc(14);
    letter-spacing: 0.1px;
    margin: rem-calc(10 0 0);

    @include primary-font-semibold;
  }
}

.input__field {
  background: transparent;
  border: 0;
  border-bottom: 2px solid $dark-brown;
  box-shadow: none;
  color: $black;
  font-size: rem-calc(19);
  height: auto;
  line-height: 1.3;
  margin: 0;
  padding: rem-calc(12 0);
  text-align: inherit;
  transition: border-color $transition-default;
  width: 100%;

  &::-webkit-input-placeholder { color: transparent; }
  &:-moz-placeholder { color: transparent; } /* FF 4-18 */
  &::-moz-placeholder { color: transparent; } /* FF 19+ */
  &:-ms-input-placeholder { color: transparent; } /* IE 10+ */

  &:hover,
  &:focus {
    background: inherit;
    border: 0;
    border-bottom: 2px solid $dark-brown;
    box-shadow: none;
  }

  + label {
    color: $gray;
    display: block;
    font-size: rem-calc(19);
    left: 0;
    line-height: 1.5;
    pointer-events: none;
    position: absolute;
    top: rem-calc(8);
    transition: all $transition-default;
    width: 100%;
  }

  &:focus + label,
  &:not(:focus):not(.empty) + label {
    font-size: rem-calc(12);
    opacity: 1;
    top: -13px;
  }

  &:-webkit-autofill {
    border-color: $dark-brown !important;
  }
}

.input--small {
  .input__field {
    font-size: rem-calc(16);

    + label {
      font-size: rem-calc(16);
    }
  }
}

.input--white {
  .input__field {
    border-color: $white;
    color: $white;

    &:hover,
    &:focus {
      border-color: $white;
    }

    &:-webkit-autofill {
      border-color: $white !important;
      -webkit-text-fill-color: $white !important;
    }

    + label {
      color: $white;
    }
  }
}

.checkbox-container {
  display: block;
}

.checkbox-container__title {
  font-size: rem-calc(30);
  line-height: 1.3;
  margin: 0 0 rem-calc(25);

  @include secondary-font;
}

.checkbox__field {
  left: -9999px;
  position: absolute;

  + label {
    cursor: pointer;
    display: block;
    font-size: rem-calc(16);
    line-height: 1.5;
    margin: rem-calc(0 0 23);
    padding-left: rem-calc(34);
    position: relative;

    @include primary-font-bold;

    .checkbox--white & {
      color: $white;
    }

    &::before {
      border: 3px solid $yellow;
      border-radius: rem-calc(3);
      content: '';
      height: rem-calc(16);
      left: 0;
      position: absolute;
      top: rem-calc(4);
      width: rem-calc(16);
    }

    &::after {
      color: $white;
      content: "✔";
      font-size: rem-calc(16);
      left: rem-calc(4);
      line-height: 0.8;
      opacity: 0;
      position: absolute;
      top: rem-calc(3);
      transition: all 0.2s;
    }
  }

  &:checked {
    + label {
      &::after {
        opacity: 1;
      }
    }
  }
}
