/**
 * Tooltips
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  cursor: pointer;
  position: relative;

  img {
    filter: none;
    transition: filter $transition-default;
  }
}

/* Base styles for the entire tooltip */
[data-tooltip],
.tooltip {
  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    visibility: hidden;
  }
}

/* Show the entire tooltip on hover and focus */
[data-tooltip],
.tooltip {
  &:hover,
  &:focus {
    img {
      filter: grayscale(100%);
    }

    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

/* Base styles for the tooltip's content area */
.tooltip,
[data-tooltip] {
  &::after {
    content: attr(data-tooltip);
    font-size: rem-calc(12);
    line-height: 1.4;
    width: rem-calc(100);
    z-index: 1000;

    @include secondary-font;
  }
}

/* Directions */

/* Horizontally align top/bottom tooltips */
[data-tooltip],
.tooltip,
.tooltip--top {
  &::after {
    margin-left: rem-calc(-50);
    margin-top: rem-calc(-8);
  }
}

[data-tooltip],
.tooltip,
.tooltip--top {
  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: translateY(-1.2rem);
    }
  }
}

/* Bottom */
.tooltip--bottom {
  &::before,
  &::after {
    bottom: auto;
    left: 50%;
    top: 100%;
  }
}

.tooltip--bottom::before {
  margin-bottom: 0;
  margin-top: -1.2rem;
}

.tooltip--bottom {
  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: translateY(1.2rem);
    }
  }
}
