/**
 * Variables
 */

// Colors
$black: #000;
$blue: #76a1cf;
$blue-dark: #6590be;
$blue-darker: #5780ac;
$blue-darkest: #476f99;
$brown: #5a5a5a;
$dark-brown: #34281d;
$gray: #8f8f8f;
$mid-gray: #b8b8b8;
$light-gray: #979797;
$lightish-gray: #dedede;
$lighter-gray: #eaeaea;
$green: #55924e;
$lime-green: #97b435;
$orange: #f47b36;
$orange-dark: #d96c2e;
$orange-darker: #be5d26;
$orange-darkest: #a14916;
$red: #d2593a;
$dark-red: #c00;
$yellow: #d6d84f;
$tan: #f6eee9;
$mid-tan: #e0d4c6;
$dark-tan: #a38e60;
$white: #fff;
$yellow: #d6d84f;

$link-hover-color: $blue;
$nav-line-color: $orange;
$nav-hover-color: $white;
$error-color: $dark-red;

// Paths
$font-directory: "/assets/fonts";
$image-directory: "/assets/img";

// Grid
$global-width: rem-calc(1200);
$gutter-mobile: 15;
$gutter-desktop: 15;
$grid-column-gutter: (
  small: rem-calc($gutter-mobile * 2),
  medium: rem-calc($gutter-desktop * 2),
);
$nav-bp: rem-calc(970);
$mobile-small-bp: rem-calc(480);
$nav-down-bp: rem-calc(969);
$three-col-bp: rem-calc(885);
$profile-alt-bp: rem-calc(800);
$signup-col-bp: rem-calc(800);
$sector-blocks-bp: rem-calc(1180);
$sector-blocks-bp-down: rem-calc(1179);
$large-compass-bp: 80em;
$map-bp: rem-calc(1000);

$title-font-size-mobile: 47;
$title-font-size: 50;

$transition-default: 0.25s ease-out;

// Footer
$footer-signup-transition-function: ease;
$footer-signup-transition-timing: 0.5s;
$footer-signup-transition: $footer-signup-transition-timing $footer-signup-transition-function;
$footer-bp: 815px;

// Z-Indexes
$z-index-hamburger: 10;
$z-index-nav: 9;
