/**
 * Variables
 */

// FONT TYPES
$font-thinnest: 100;
$font-thin: 200;
$font-normal: 300;
$font-medium: 500;
$font-bold: 700;

// Paths
$font-directory: "/assets/fonts";
$image-directory: "/assets/img";

// COLORS
$color-navlink: #aaa7a1;
$color-primary: #ff671b;
$color-primary-darker: #205493;
$color-primary-darkest: #112e51;
$color-secondary: #d22a2f;
$color-secondary-dark: #cd2026;
$color-secondary-darkest: #981b1e;
$color-secondary-light: #e59393;
$color-secondary-lightest: #f9dede;
$color-white: #fff;
$color-base: #4e4e4e;
$color-base-dark: #2b2b2b;
$color-base-light: #f1efeb;
$color-green-light: #afe8db;
$color-green-dark: #4fcdb0;
$color-green-darkest: #35a287;
$color-black: #000;
$color-gray: #7b7b7b;
$color-light-gray: #aba6a4;
$color-lighter-gray: #a8a7a3;
$color-dark-gray: #141413;
$color-red: #d22a2f;
$color-green: #2ea388;
$color-green-light: #b1e7db;

// TRANSITIONS
$transition-default: .25s ease-out;
$cubic-transition: cubic-bezier(.51, .92, .24, 1.15);
$cubic-transition-2: cubic-bezier(0, 0, .2, 1);

// BREAKPOINTS

// Mobiles
$xs: (media: 576px);

// Small tablets (portrait view)
$sm: (media: 768px);

// Tablets and small desktops
$md: (media: 992px);

// Tablets and desktops
$lg: (media: 1200px);

// Large Desktops
$xl: (media: 1400px);

// CONTAINER SIZES
$container-width: 1230px;

// GRIDS
$neat-grid: (columns: 12, gutter: 15px);
$no-gutter: (gutter: 0);
$columnar-gutter: (gutter: 120px);

