/**
 * Footer
 */

.footer {
  background: $tan;
  color: $dark-brown;
  padding: rem-calc(65 0 70);

  @include breakpoint(medium) {
    padding-bottom: rem-calc(100);
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: $orange;
    }
  }
}

.footer__logo {
  margin: 0 0 rem-calc(55);
  text-align: center;

  @include breakpoint($footer-bp) {
    margin-bottom: rem-calc(25);
  }
}

.footer__logo__link {
  display: inline-block;
}

.footer__logo__image {
  display: block;
  width: rem-calc(160);
}

.footer__columns {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint($footer-bp) {
    flex-direction: row;
  }
}

.footer__left,
.footer__right {
  border-left: 1px dotted $light-gray;
  border-right: 1px dotted $light-gray;
  margin: rem-calc(50 15 0);
  order: 0;
  padding: rem-calc(5 20);

  @include breakpoint($footer-bp) {
    margin: 0;
    width: 25%;
  }
}

.footer__middle {
  order: -1;

  @include breakpoint($footer-bp) {
    order: 0;
    width: 50%;
  }
}

.footer__middle__inner {
  margin: 0 auto;
  max-width: 100%;
  width: rem-calc(360);

  @include breakpoint($footer-bp) {
    padding: rem-calc(20);
  }
}

.footer__list {
  font-size: rem-calc(13);
  line-height: 1.2;
  list-style: none;
  margin: 0;
  padding: 0;

  p {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }
}

.footer__link {
  font-size: rem-calc(15);
  letter-spacing: 0.8px;
  margin-bottom: rem-calc(16);
  text-transform: uppercase;

  @include secondary-font;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__list-title {
  font-size: rem-calc(15);
  letter-spacing: 0.8px;
  line-height: 1.2;
  margin-bottom: rem-calc(16);
  text-transform: uppercase;

  @include secondary-font;
}

.footer__list-item {
  color: $black;
  line-height: 1.4;
  margin-bottom: rem-calc(12);

  strong,
  b {
    font-size: rem-calc(15);

    @include secondary-font;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__signup__button {
  max-width: none;

  &--inactive {
    display: none;
  }
}

.footer__signup {
  .input {
    max-height: none;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform $footer-signup-transition, margin $footer-signup-transition, max-height $footer-signup-transition-timing 0s;
  }

  &--inactive {
    @include breakpoint(medium) {
      .input {
        margin: 0;
        max-height: 0;
        transform: scaleY(0);
        transition: transform $footer-signup-transition, margin $footer-signup-transition;
      }

      .footer__signup__button {
        display: none;

        &--inactive {
          display: block;
        }
      }
    }
  }
}

.footer__signup__success {
  text-align: center;

  @include primary-font-bold;
}
