/**
 * Hero
 */

.hero {
  align-items: center;
  background: no-repeat;
  background-size: cover;
  color: $color-white;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding: 155px 0 140px;
  position: relative;
  text-align: center;

  &:before {
    background: rgba($color-black, .35);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.hero__video {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  z-index: -100;
}

.hero__caption {
  max-width: 800px;
  position: relative;
}

.hero__title {
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase;

  @include secondary-font;

  @include grid-media($md) {
    font-size: 100px;
  }
}

.hero__subtitle {
  font-size: 16px;
  line-height: 1.8;

  @include primary-font-semibold;

  @include grid-media($md) {
    font-size: 19px;
    line-height: 1.6;
    text-align: left;
  }

  &--centered {
    text-align: center;
  }

  p {
    font-size: inherit;
    line-height: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hero__next-container {
  bottom: 60px;
  position: absolute;
  width: 100%;

  @include grid-media($sm) {
    display: none;
  }
}

.hero__next {
  display: inline-block;
}

.hero__next__text {
  color: $color-white;
  font-size: 14px;
  margin-bottom: 15px;

  @include secondary-font;
}
