/**
 * Hero
 */

.hero {
  background: no-repeat;
  background-size: cover;
  color: $white;
  overflow: hidden;
  padding: rem-calc(155 0 140);
  position: relative;
  text-align: center;

  &--large {
    padding: rem-calc(155 0 100);
  }

  @include breakpoint(medium) {
    padding: rem-calc(180 0 90);

    &--large {
      padding: rem-calc(200 0);
    }
  }

  @include breakpoint($nav-bp) {
    padding: rem-calc(200 0 90);

    &--large {
      padding: rem-calc(350 0 240);
    }
  }

  .button {
    margin: rem-calc(25) auto 0;

    + .button {
      margin-top: rem-calc(20);
    }

    @include breakpoint(medium) {
      margin-right: 0;
      margin-top: 0;
    }
  }
}

.hero__video {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  z-index: -100;
}

.hero__title {
  font-size: rem-calc(50);
  line-height: 0.8;
  margin-bottom: rem-calc(23);
  text-transform: uppercase;

  @include tertiary-font;

  @include breakpoint(small down) {
    .hero--large & {
      font-size: rem-calc(60);
    }
  }

  @include breakpoint(medium) {
    font-size: rem-calc(100);
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(large) {
    font-size: rem-calc(115);
  }

  @include breakpoint(76em) {
    font-size: rem-calc(140);
  }
}

.hero__subtitle {
  font-size: rem-calc(16);
  line-height: 1.8;

  @include primary-font-semibold;

  @include breakpoint(medium) {
    font-size: rem-calc(19);
    line-height: 1.6;
    text-align: left;
  }

  &--centered {
    text-align: center;
  }

  p {
    font-size: inherit;
    line-height: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hero__next-container {
  bottom: rem-calc(60);
  position: absolute;
  width: 100%;

  @include breakpoint(small only) {
    display: none;
  }
}

.hero__next {
  display: inline-block;
}

.hero__next__text {
  color: $white;
  font-size: rem-calc(14);
  margin-bottom: rem-calc(15);

  @include secondary-font;
}
