/**
 * Navigation
 */

nav {
  &.header__main-nav {
    &:lang(ar) {
      ol {
        list-style: arabic-indic;
      }
    }
  }

  &.language-switcher {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2;

    a {
      padding: 5px 7px;

      &:hover {
        background: $color-black;
        color: $color-white;
      }
    }

    .de:lang(de),
    .en:lang(en),
    .fr:lang(fr),
    .ar:lang(ar) {
      background-color: $color-black;
      color: $color-white;
    }
  }
}
