<!doctype html>
{% if page.language == "ar" %} 
<html class="no-js" lang="{{ page.language }}" dir="rtl">
{% else %}
<html class="no-js" lang="{{ page.language }}">
{% endif %}
  
  {% include head.html %}

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <header class="header js-header">
      <div class="header__top-wrapper">
        <div class="container">
          <div class="header__logo">
            <a href="/" aria-label="logo">Logo</a>
          </div>
          <a href="#menu" class="header__nav-toggle js-nav-toggle">
            <span>Menu</span>
          </a>
        </div>
      </div>
      <div class="container header__wrapper">
        <nav class="header__main-nav js-nav-collapse" id="main-nav" data-simplebar>
          <div class="header__series-wrapper">
            <h6 class="header__series-text">The Key to Financial Inclusion</h6>
            <h4 class="header__series-title">Client Centricity</h4>
          </div>
          <ol>
            <li><a href="#section1">Landing</a></li>
            <li><a href="#section2">Overview</a></li>
            <li><a href="#section3">Introduction</a></li>
            <li><a href="#section4">Regional Analysis</a></li>
          </ol>
        </nav>
      </div>
    </header>

    <!-- <nav>
      {% assign pages = site.pages | sort: "nav-order"  %}
      {% for p in pages %}
        {% if p.language == page.language %} 
          <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
        {% endif %}
      {% endfor %}
    </nav> -->
    
    <nav class="language-switcher">
      {% if page.name contains "index" %}
        <a class="en" href="{{ site.baseurl }}/">EN</a>
        <a class="fr" href="{{ site.baseurl | append: "/fr" }}">FR</a>
        <a class="ar" href="{{ site.baseurl | append: "/ar" }}">AR</a>
      {% else %}
        <a class="en" href="{{ site.baseurl | append: page.handle }}">EN</a>
        <a class="fr" href="{{ site.baseurl | append: "/fr" | append: page.handle }}">FR</a>
        <a class="ar" href="{{ site.baseurl | append: "/ar" | append: page.handle }}">AR</a>
      {% endif %}
    </nav>

    <!-- <header>
      <div class="container">
        <h1>{{ site.name[page.language] }}</h1>
        <p>{{ site.description[page.language] }}</p>
      </div>
    </header> -->

    <main>
      {{ content }}
    </main>

    <!-- {% if page.name contains "index" %}
      <section>
        <a class="btn btn--gray" href="https://github.com/thesmallaxe/i18-static-template">{{ page.see-on-github }}</a>
      </section>
    {% endif %} -->

    {% include footer.html %}

    <!-- <span class="debug">{{page.language | inspect}}</span> -->

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <script src="/assets/js/source.dev.js"></script>
  </body>
</html>
